incidencias_consolidadas.csv
/cluster/*.csv
/lemma/*.csv
/themes/*.csv
/conocimiento_consolidado/*.md
/imgs/cluster/*.png
/imgs/codo/*.png
/incidencias/*
/knowledge_base_db/*
storage/
__pycache__

*.ini